.e-elevator-main-cont {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 100%;
}
.bttn-main-cont {
  display: flex;
  gap: 5px;
  height: 53%;
  width: 200px;
  flex-wrap: wrap;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
}

.single-btn-cont {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
